<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="ui container">
    <div class="ui link cards">
      <% for(const pet of pets){ %>
        <div class="card">
          <div class="content">
            <div class="header"><%= pet.name %></div>
            <div class="meta">
              <a><%= pet.species %></a>
            </div>
            <div class="description">
              <%= pet.notes %>
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              <%= pet.age %>
            </span>
            <span>
              <i class="heart icon"></i>
              <%= pet.likes %>
            </span>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>